.DS_Store
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/server/public
/server/config/server
/server/log
/server/views

.idea/

/test/gitLog/log
/test/gitLog/output

realServerConfig.js
DBConfig.js

